<div id="carousel" class="carousel fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">    
    <div data-ng-repeat="project in vm.projects" data-ng-attr-name="{{project.name}}" data-ng-attr-source="{{project.source}}" ng-class="{ 'active' : $first}" class="item">
      <div class="carousel-caption"></div>
    </div>
  </div>
  
  <!-- Controls -->
  <a class="carousel-control left" href="" ng-click="vm.slide('prev')" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control right" ng-click="vm.slide('next')" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

<div class="mastfoot"><div class="inner"><h4>{{vm.currentName}}</h4></div></div>