<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <!--
      data-ng-style="{'background-image': 'url(' + project.source + ')'}"
     -->
    <div data-ng-repeat="project in vm.projects" data-ng-attr-source="{{project.source}}" ng-class="{ 'active' : $first}" class="item">
      <div class="carousel-caption"></div>
    </div>
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="" ng-click="vm.slide('prev')" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" ng-click="vm.slide('next')" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

<div class="mastfoot"><div class="inner"><h4>Positiva {{vm.currentName}}, Western Australia</h4></div></div>